.header {
  font-size: 400%;
}

.todoForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

.todoForm button {
  width: 50%;
  margin: auto;
  font-weight: bolder;
  padding: 10px 0;
  border-radius: 20px;
  border: none;
}

.filter button {
  padding: 5px 10px;
  margin: 0 5px;
  font-weight: bold;
}

.todoList {
  margin-top: 30px;
}

.todoList li {
  list-style: none;
}

.todoList div {
  border: 3px solid;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: large;
  align-items: center;
}

.todoList button {
  padding: 10px;
  background-color: rgba(200, 50, 50, 0.9);
}
