/* css for main app component */
.app-root-container {
  margin: 50px 30%;
  text-align: center;
  padding: 10px;
}

/* css for to do form starts*/
.add-todo-form {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

input {
  height: 25px;
  border: 1px solid #b6b4b4;
  padding: 2px 12px;
  border-radius: 4px;
  flex: 1;
}

.addBtn {
  background-color: #8cb2d3;
  border-radius: 4px;
  border: 1px solid #8cb2d3;
  color: white;
  padding: 0 20px;
  height: 30px;
}

/* css for to do form ends*/

/* css for filter starts*/

.filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px 0;
}

.filterBtn {
  background-color: #5d7a94;
  border-radius: 4px;
  border: 1px solid #5d7a94;
  color: white;
  height: 30px;
  padding: 0 10px;
}

.selectedFilterBtn {
  border: 2px solid black;
}

/* css for filter ends*/
