.task-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
}

.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid #b6b4b4;
}
