/* css for task list component */
.task-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border: 1px solid #b6b4b4;
  border-left: 20px solid #8cb2d3;
}

.task-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.completed-task {
  border-left: 20px solid green;
}

.completed-task > span {
  text-decoration: line-through;
}

/* css for buttons */

.deleteBtn {
  background-color: red;
  border-radius: 4px;
  border: 1px solid red;
  color: white;
  height: 30px;
}

.completeBtn {
  background-color: green;
  border-radius: 4px;
  border: 1px solid green;
  color: white;
  height: 30px;
}

.incompleteBtn {
  background-color: #e46969;
  border-radius: 4px;
  border: 1px solid #e46969;
  color: white;
  height: 30px;
}
