.task-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border: 1px solid #b6b4b4;
  border-left: 20px solid #8cb2d3;
}

.task-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.completed-task {
  border-left: 20px solid green;
}

.completed-task > span {
  text-decoration: line-through;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px 0;
}

input {
  height: 25px;
  border: 1px solid #b6b4b4;
  padding: 2px 12px;
  border-radius: 4px;
  flex: 1;
}

.addBtn {
  background-color: #8cb2d3;
  border-radius: 4px;
  border: 1px solid #8cb2d3;
  color: white;
  padding: 0 20px;
  height: 30px;
}

.deleteBtn {
  background-color: red;
  border-radius: 4px;
  border: 1px solid red;
  color: white;
  height: 30px;
}

.completeBtn {
  background-color: green;
  border-radius: 4px;
  border: 1px solid green;
  color: white;
  height: 30px;
}

.incompleteBtn {
  background-color: #e46969;
  border-radius: 4px;
  border: 1px solid #e46969;
  color: white;
  height: 30px;
}

.filterBtn {
  background-color: #5d7a94;
  border-radius: 4px;
  border: 1px solid #5d7a94;
  color: white;
  height: 30px;
  padding: 0 10px;
}

.selectedFilterBtn {
  border: 2px solid black;
}
